<!-- # app/views/patients/index.html.erb -->

<h1>Patients</h1>

<ul>
  <% @patients.each do |patient| %>
    <li>
      <%= link_to patient.name, patient_path(patient) %>
      <%= patient.age %> years old, <%= patient.appointments.count %> <%= "appointment".pluralize(patient.appointments.count) %>
    </li>
  <% end %>
</ul>
